{
  "semi": false,
  "singleQuote": true,
  "importOrder": [
    ".css$",
    "<THIRD_PARTY_MODULES>",
    "^./types/(.*)$",
    "^./database/(.*)$",
    "^./components/(.*)$",
    "^./nodes/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
